/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 3, 2021, 7:22:27 PM
    Author     : rosha
*/

body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: url(filipp-romanovski-naSJ-jJyqNQ-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;   
}

.box{
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%,-50%);
    width: 450px;
    padding: 40px;
    background: rgba(0,0,0,.8);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.5);
    border-radius: 10px;
}

.box h2{
    margin: 0 0 30px;
    padding: 0;
    text-align: center;
    background: linear-gradient(to right, #d4ac0d   40%, #82e0aa  60%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    font-family: monospace;
    font-size: 25px;
}

.box p,a{
    font-size: 12px;
    letter-spacing: 1px;
    color:  #abb2b9;
}

.box h2{
    margin: 0 0 30px;
    padding: 0;
    text-align: center;
    background: linear-gradient(to right, #d4ac0d   40%, #82e0aa  60%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    font-family: monospace;
    font-size: 25px;
}

.box h3{
    font-size: 20px;
        font-family: monospace;
    text-align: left;
    letter-spacing: 1px;
    color: #abb2b9;
}

.box2 h3{
    font-size: 20px;
        font-family: monospace;
    text-align: center;
    letter-spacing: 1px;
    color: #abb2b9;
}

.box2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    padding: 40px;
    background: rgba(0,0,0,.8);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.5);
    border-radius: 10px;
}

.box3{
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-50%,-50%);
    width: 400px;
    padding: 40px;
    background: rgba(0,0,0,.8);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.5);
    border-radius: 10px;
}

.box5{
    position: absolute;
    top: 64%;
    left: 24%;
    transform: translate(-50%,-50%);
    width: 0px;
    padding: 0px;
    background: rgba(0,0,0,.8);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.5);
    border-radius: 10px;
}

.box5 input[type="submit"]{
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    background: #03a9f4;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.box3 input[type="submit"]{
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    background: #03a9f4;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}
.box3 .inputBox{
    position: relative;
}



.box3 .inputBox input{
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    letter-spacing: 1px;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}



.box3 .inputBox label{
    position: absolute;
    top: 0;
    left: 0;
    letter-spacing: 1px;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}



.box3 .inputBox input:focus ~ label,
.box3 .inputBox input:valid ~ label{
    top: -18px;
    left: 0;
    color: #03a9f4;
    font-size: 12px;
}

.box2 h2{
    margin: 0 0 30px;
    padding: 0;
    text-align: center;
    background: linear-gradient(to right, #d4ac0d   40%, #82e0aa  60%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    font-family: monospace;
    font-size: 25px;
}



.box2 .inputBox{
    position: relative;
}



.box2 .inputBox input{
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    letter-spacing: 1px;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}



.box2 .inputBox label{
    position: absolute;
    top: 0;
    left: 0;
    letter-spacing: 1px;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}



.box2 .inputBox input:focus ~ label,
.box2 .inputBox input:valid ~ label{
    top: -18px;
    left: 0;
    color: #03a9f4;
    font-size: 12px;
}



.box2 input[type="submit"]{
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    background: #03a9f4;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.box2 p,a{
    font-size: 12px;
    letter-spacing: 1px;
    color:  #abb2b9;
}

.box3 p,a{
    font-size: 12px;
    letter-spacing: 1px;
    color:  #abb2b9;
}

.three{
    position: absolute;
    top: 90%;
    left: 92%;
    transform: translate(-50%,-50%);
    width: 0px;
    padding: 0px;
    background: rgba(0,0,0,.8);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.5);
    border-radius: 10px;
}

.three .inputBox{
    position: relative;
}



.three input[type="submit"]{
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    background: #03a9f4;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}


.two{
    position: absolute;
    top: 69%;
    left: 37%;
    transform: translate(-50%,-50%);
    width: 0px;
    padding: 0px;
    background: rgba(0,0,0,.8);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.5);
    border-radius: 10px;
}

.two .inputBox{
    position: relative;
}



.two input[type="submit"]{
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    background: #03a9f4;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}


.four{
    position: absolute;
    top: 77%;
    left: 68%;
    transform: translate(-50%,-50%);
    width: 0px;
    padding: 0px;
    background: rgba(0,0,0,.8);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.5);
    border-radius: 10px;
}

.four .inputBox{
    position: relative;
}



.four input[type="submit"]{
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    background: #03a9f4;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

